h1 {
    color: #3F3030;
    font-family: 'Glegoo', serif;
    font-size: 72px;
    font-weight: lighter;
    letter-spacing: 25px;
    text-align:center;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 1000;
    margin: 0px;
    pointer-events: none;
}
#nav {
    opacity:0;
    z-index: 500;
    position: fixed;
    top: 0px;
    left: 30px;
    right: 30px;
    height: 60px;
    background: rgba(249,230,187,0.5);
}
#topbar {
    position:relative;
}
#bar-container {
    position: fixed;
    left: 30px;
    right: 30px;
    top: 0px;
    height: 60px;

    //z-index: 99999;
}
#main-container {
    width:100%;
    left: 0px;
}
#nav a{
    text-decoration: none;
    text-align: center;
}
#nav img {
    float:right;
    padding: 10px 5px 0px 5px;
} 
.center {
    text-align:justify;
    margin: 0px auto;
    max-width: 35em;
}
p {
    font-family: Georgia, Cambria;
    font-size: 16px;
    line-height: 1.5em;
    text-align: justify;
    color: #655959;
}

body {
    background: url(img/debut_color.png);
}
@font-face {
    font-family: 'BLOKK';
    src: url('fonts/BLOKKNeue-Regular.eot');
    src: url('fonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/BLOKKNeue-Regular.woff') format('woff'),
         url('fonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}