html,body{
	margin: 0;
	width: 100%;
}
body {
	background-color: #F0E2D6;
}

.grid-overlay {
	display: none;
	position: fixed;
	top: 0;
	pointer-events: none;
	z-index: 100;
	height: 100%;
	width: 100%;
}
.grid-overlay .grid-row{
	height: 33.333%;
	width: 100%;
	border-bottom: 2px solid rgba(50,50,50,0.6);
}
.grid-overlay .grid-row .grid-col{
	display: inline-block;
	height: 100%;
	width: 33.333%;
	border-right: 2px solid rgba(50,50,50,0.6);
}

h1, h2, a {
	font-family: 'Merriweather', serif;
	color: #321F1F;
}
.quote, p {
	font-family: 'Vollkorn', serif;
}

.identifier {
	margin-top: 80px;
	position: relative;
	width: 100%;
	text-align: center;
}
.avatar {
	position: relative;
	margin: auto;
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	overflow: hidden;
}
.avatar .social {
	display: none;
	height: 40px;
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	text-align: center; 
}
.social .link {
	text-align: center; 
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
	z-index: 20;
	width: 40px;
	height: 40px;
	margin: 0 20px;
}
.social .link a{
	display: block;
	height: 100%;
	width: 100%;
}
.social .twitter {
	background-image: url(img/twitter.png);
}
.social .github {
	background-image: url(img/github.png);
}
.social .instagram {
	background-image: url(img/instagram.png);
}

.avatar:hover .social {
	display: block;
}
.avatar:hover .overlay{
	border-radius: 100%;
	-webkit-border-radius: 100%;
	overflow: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 10;
	background-color: rgba(50,50,50,.8);
}
.avatar:hover h1{
	display: block;
}
.avatar img {
	max-width: 320px;
	height: auto;
	border-radius: 100%;
	-webkit-border-radius: 100%;
}

.about-me {
	position: absolute;
	display: none;
	width: 320px;
	height: 320px;
	top: 0;
	left: 50%;
	margin-left: -160px;
	-webkit-transform:rotateY(270deg);
	transform:rotateY(270deg);
	background-color: #999;
	color: white;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	overflow: hidden;
}
.about-me p{
	text-align: center;
	padding: 15%;
	white-space: wrap;
}

.headline{
	/*position: absolute;*/
	margin-top: 40px;
	width: 100%;
	text-align: center;
	color: #321F1F;
}
.headline h1{
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 4px;
	border-bottom: 1px solid #321F1F;
}

.navigation {
	margin-top: 40px;
	text-align: center;
}
.navigation a {
	display: inline-block;
	font-size: 18px;
	font-family: 'Merriweather', serif;
	cursor: pointer;
	margin: 9px;
	color: #643E3E;
}
.navigation a:hover {
	color: #A66867;
}

/*@media (max-width: 880px){
	#about {
		display: none;
	}
	.box {
		display: inline-block;
		width: 150px;
		height: 100px;
		margin: 12px;
	}
	.identifier {
		top: 27%;
	}
	.avatar, .avatar img, .avatar .overlay{
		max-width: 80%;
		height: auto;
	}
	.navigation {
		top: 95%;
		width: 400px;
		margin-left: -200px;
		text-align: center;
	}
}*/